

<%= simple_form_for(@institution) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>





<div class="unix-login">

    <script type="text/javascript">

        $(document).on("keydown", "#address", function () {
            var caracteresRestantes = 500;
            var caracteresDigitados = parseInt($(this).val().length);
            var caracteresRestantes = caracteresRestantes - caracteresDigitados;

            $(".caracteres").text(caracteresRestantes);
        });

    </script>

 <div class="container">
      <div class="row">
         <div class="col-md-4 col-md-offset-4">

            <div class="login-content card">

            <div class="well well-sm">
               <div class="login-form">
                   <div class="form-inputs">
                               <%= f.input :name, required: true  %>
                            <label>Dirección: </label>
                                 <%= f.text_area(:address, required:true, :rows => 4, style: 'width:100%;', id: 'address')%>
                                    <span class="caracteres">100</span> caracteres restantes <br>
                                <%= f.input :phone ,required: true  %>
                                <%= f.input :email ,required: true  %>
                                <%= f.input :web ,required: true  %>

                    </div>
                </div>



                <div class="row">
                  <div class="col-sm-12" align="center" >
                    <%= f.button :submit,"Agregar", class: 'btn btn-primary'%>
                    <br><br>
                  </div>
                  <div class="col-sm-12" align="center" >
                    <%= link_to 'Cancelar', institution , class: 'btn btn-danger' %>
                  </div>

                </div>

            </div>

        </div>

    </div>
</div>
</div>

<% end %>
