<% provide :title, "Editar Usuario" %>
<%= render "shared/admin/page_title" %>



<%#= simple_form_for(resource, as: resource_name, url: access_update_path(resource_name), html: { method: :put }) do |f| %>
<%= simple_form_for(@user, url: access_update_path(@user), html: { method: :put }) do |f| %>
  <%= f.error_notification %>


    <div class="col-xs-3">
      <%= render "profiles/profile_picture"%>
    </div>
    <div class="row">      
      <div class="form-inputs"  >
          <div class="col-sm-15" style="width:70%; float: right; padding: 15px 28px; "> 
       
                        <%= f.input :password,
                                    label: "Contraseña",
                                    hint: "Déjelo en blanco si no quiere cambiarla",
                                    required: false,
                                    input_html: { autocomplete: "new-password" } %>
                        <%= f.input :password_confirmation,
                                    label: "Confirmación de Contraseña",
                                    required: false,
                                    input_html: { autocomplete: "new-password" } %>
                        <%= f.input :current_password,
                                    label: "Contraseña Actual",
                                    hint: "Necesitamos su contraseña actual para confirmar los cambios",
                                    required: true,
                                    input_html: { autocomplete: "current-password" } %>
          
          <div class="form-actions" >
             <%= f.button :submit, "Modificar" %>
        <% end %>

              <% unless current_user.is_admin? %>
              <h4>¿Cancelar mi cuenta?</h4>
              <p><%= link_to "Cancelar cuenta", registration_path(resource_name), data: { confirm: "¿Está seguro?" }, method: :delete %></p>
                <% else %>
                  <div class="alert alert-warning" role="alert">
                    Usted no puede cancelar su cuenta a menos que exista al menos otro administrador.
                  </div>
              <% end %>
            <%= link_to "Back", :back %>
        </div>            
    </div>  


  