
<style>
	@import url('https://fonts.googleapis.com/css?family=Gamja+Flower|Indie+Flower');
	.ubicacion{
       margin: 0;
       padding: 0;
       font-family: 'Indie Flower', cursive;
    }

    .wrap {
       overflow: hidden;
       margin: 10px;
    }

    .box {
       float: left;
       position: relative;
       width: 20%;
       padding-bottom: 20%;
    }
    .boxInner {
       position: absolute;
       left: 10px;
       right: 10px;
       top: 10px;
       bottom: 10px;
       overflow: hidden;
    }
    .boxInner img {
       width: 100%;
    }
    .boxInner .titleBox {
       position: absolute;
       bottom: 0;
       left: 0;
       right: 0;
       margin-bottom: -50px;
       background: #000;
       background: rgba(0, 0, 0, 0.5);
       color: #FFF;
       padding: 10px;
       text-align: center;
       -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
       transition: all 0.3s ease-out;
    }
    body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
       margin-bottom: 0;
    }
    @media only screen and (max-width : 480px) {
       /* Smartphone view: 1 tile */
       .box {
          width: 100%;
          padding-bottom: 100%;
       }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
       /* Tablet view: 2 tiles */
       .box {
          width: 50%;
          padding-bottom: 50%;
       }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
       /* Small desktop / ipad view: 3 tiles */
       .box {
          width: 33.3%;
          padding-bottom: 33.3%;
       }
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
       /* Medium desktop: 4 tiles */
       .box {
          width: 25%;
          padding-bottom: 25%;
       }
    }
    
    .selectableImageContainer {
	    border: 1px solid #CCC;
	    padding: 5px;
	    margin: 7px;
	    float: left;
	    width: 212px;
	    text-align: center;
	}

	.zoom_toolbar_button {
	    height: 32px;
	    width: 32px;
	    float: right;
	    border-radius: 4px;
	    margin-left: 2px;
	    margin-top: 8px;
	    cursor: pointer;
	    border: 1px solid #000000;
	    padding: 6px 0 0 3px;
	}

	.approved_image_toolbar_button {
	    background-color: #8bc249;
	    height: 32px;
	    width: 32px;
	    float: right;
	    border-radius: 4px;
	    margin-left: 2px;
	    margin-top: 8px;
	    cursor: pointer;
	    padding: 6px 0 0 3px;
	}

	.disapproved_image_toolbar_button {
	    background-color: #bb232a;
	    height: 32px;
	    width: 32px;
	    float: right;
	    border-radius: 4px;
	    margin-left: 2px;
	    margin-top: 8px;
	    cursor: pointer;
	    padding: 6px 0 0 1px;
	}

	.reviewIssuesButton {
	    margin-left: 20px;
	    color: #ffffff;
	    background-color: #00aeef;
	}

	.markAllReviewed {
	    background-color: #00aeef;
	    margin-bottom: 20px;
	    margin-top: 10px;
	    color: #ffffff;
	}

	.white {
	    color: #ffffff;
	}

</style>

<h2>Editar <%= @history.title %> </h2>

<div class="row">
  <%= simple_form_for [:admin, @history], validate: true, html: {multiple: true}, :id => "fileupload" do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="form-inputs">
           <%= f.input :title, label: "Título", required: true, autofocus: true %>
          </div>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="form-inputs">
            <%= f.input :description, label: 'Description', as: :text, :input_html => {:style => 'width: 100%', :rows => 5, class: 'response-project'} %>
          </div>
      </div>
    </div>
    
    <div class="row">
			<div class="col-lg-12 col-md-12 col-xs-12">

        <% unless @history.images.empty? %>
          <h4>
		  		<strong>Imágenes de <%= @history.title %></strong>
          <p>
		  		</h4>
					<div class="wrap">
						<% @history.images.each do |image| %>
							<% if image.picture_url %>
								<div class="box">
						      		<div class="boxInner">
					
								  		<a href="#<%= image.picture_url.split('picture/')[1].split('/')[0] %>" data-toggle="modal">
										   <img class="img-responsive" src="<%= image.picture.url %>" style="width:250px; height: 250px" >
										</a>

										<div class="titleBox"><%= @history.title %></div>

										<div id="<%= image.picture_url.split('picture/')[1].split('/')[0] %>" class="modal fade" role="dialog">
											<div class="modal-dialog">
											<!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
												</div>
												<div class="modal-body">
													<img id="<%= image.picture.url %>" class="img-responsive" src="<%= image.picture.url %>" >
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                          <%= link_to "Eliminar Imagen", image_path(image.id), :class => 'btn btn-danger', :method => :delete, data: { confirm: "Are you sure you want to delete this image?" } %>
              
												</div>
												</div>
											</div>
										</div>

							  			<%#= link_to "Edit Image", edit_image_path(p) %>
							  		</div>
							  	</div>
							<% end %>
						<% end %>
					</div>
				<%else %>
					<p>No hay imagenes asociadas a la Historia</p>
				<% end %>
			</div>
		</div>

    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="control-group">
        <div class="col-lg-12 col-md-12 col-xs-12">

          <%= f.fields_for :images_attributes do |images_fields| %>
            Image: <%= images_fields.file_field :image, :multiple => true,name: "images_attributes[image][]" %>

          <% end %>

          <%# f.attachment_field :images_files, multiple: true, presigned: true, direct: true %>

        </div>
      </div>
    </div>


    <div class="col-lg-12 col-md-12 col-xs-12">
      <hr>
      <center>
          <%= link_to 'Cancel', url_for(:back), :class => 'btn btn-default' %>
          <%= f.submit 'Aceptar', :class => 'btn btn-primary' %>
      </center>
      <p>
    </div>
  <% end %>

</div>