<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
  <h2>Suscripción de categorías</h2>
  <br>
  <br>
  <div class="row">
    <figure class="effect-chico">
      <div class="col-md-6 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
        <%= image_tag "public/work/foto5.jpg", class: "img-responsive" %>
      </div>
    </figure>
    
    <figure class="effect-chico">
      <div class="col-md-6 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
        <%= image_tag "public/work/16.jpg", class: "img-responsive" %>
      </div>
    </figure>     
  </div>
  <br>
  <br>
  <div class="row">
    <figure class="effect-chico">
      <div class="col-md-6 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
        <%= image_tag "public/work/foto7.jpg", class: "img-responsive" %>
      </div>
    </figure>

    <figure class="effect-chico">
      <div class="col-md-6 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
        <%= image_tag "public/work/foto12.jpg", class: "img-responsive" %>
      </div>
    </figure>
  </div>
  <br>
  <br>
  <div class="row">
    <figure class="effect-chico">
      <div class="col-md-6 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
        <%= image_tag "public/work/foto4.jpg", class: "img-responsive" %>
      </div>
    </figure>

    <figure class="effect-chico">
      <div class="col-md-6 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
        <%= image_tag "public/work/15.jpg", class: "img-responsive" %>
      </div>
    </figure>
  </div>
</div>

