<%= simple_form_for [:admin, trainer_detail] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>   
    <!-- Funcion que toma los datos de los text-->
    <p>
      <div class="form-inputs">
        <%= f.input :status, label: "Status", required: true, autofocus: true %>
      </div>
    </p>
    
    <p>
      <div class="form-inputs">
        <%= f.input :description, label: 'Description', as: :text, :input_html => {:style => 'width: 100%', :rows => 5, class: 'response-project'} %>
      </div>
    </p>

    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="control-group">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <%= f.fields_for :images_attributes do |images_fields| %>
            Image: <%= images_fields.file_field :image, :multiple => true,name: "images_attributes[image][]" %>
          <% end %>
          <%# f.attachment_field :images_files, multiple: true, presigned: true, direct: true %>
        </div>
      </div>
    </div>
    
    <p>
      <%= link_to 'Cancel', url_for(:back), :class => 'btn btn-default' %>
      <%= f.submit 'Aceptar', :class => 'btn btn-primary' %>
    </p>
<% end  %>


