<style>
    .user-row {
      margin-top: 50px;
    }

    .small-margin{
      margin-top: 10px;
    }
</style>

<center>
  <h1>Calificación #
    <%=@feedback.id%>
  </h1>
</center>

<div class="row user-row">
  <center>
    <div class="col-md-6 ">
      <% unless @entidad_calificada.images.empty? %>
        <ul class="list-inline">
          <% @entidad_calificada.images.each_with_index do |image, index| %>
            <% if image.picture_url %>
              <% if index == 0 %>
                <li data-toggle="modal" data-target="#myModal">
                  <a href="<%= image.picture.url %>" data-slide-to="<%= image.picture.url.split('picture/')[1].split('/')[0] %>" target="_blank"><img class="img-thumbnail img-circle" src="<%= image.picture.url %>" width ="300" height="300"><br><%= index + 1 %></a>
                </li>
              <% else %>
                <li data-toggle="modal" data-target="#myModal">
                  <a href="<%= image.picture.url %>" data-slide-to="<%= image.picture.url.split('picture/')[1].split('/')[0] %>" target="_blank"><img class="img-thumbnail" src="<%= image.picture.url %>" width ="300" height="300"><br><%= index + 1 %></a>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      <%else %>
        <h4>No hay imágenes del entrenador </h4>
      <% end %>
      <h4>
        <strong>Nombre:</strong> 
        <%= @perfil_calificado.name %>
        <%= @perfil_calificado.last_name %>
      </h4>
      <h4>
        <strong>Email:</strong> 
        <%= @usuario_calificado.email %>
      </h4>
      <h4>
        <strong>Descripción:</strong> 
        <%= @entidad_calificada.description %>
      </h4>
      <h4>
        <% if @tipo == "paseador" %>
          <strong>Calificación:</strong> 
            <% (0..@entidad_calificada.calification.to_i-1).each do |i| %>
              <img src="/images/dog-bone2.png" alt="">
            <% end %>
          <%= @entidad_calificada.calification %>
        <% else %>
          <strong>Calificación:</strong> 
            <% (0..@entidad_calificada.qualification.to_i-1).each do |i| %>
              <img src="/images/dog-bone2.png" alt="">
            <% end %>
          <%= @entidad_calificada.qualification %>
        <% end %>
      </h4>
    </div>
  </center>
    <div class="col-md-5 ">
      <h4>
        <strong>Autor:</strong> 
          <%= @perfil_calificador.name %>
          <%= @perfil_calificador.last_name %>
      </h4>
    </div>
    <div class="col-md-5 ">
      <h4>
        <strong>Fecha de creación:</strong> 
          <%= @feedback.created_at.to_date %>
      </h4>
    </div>
    <div class="col-md-5 ">
      <h4>
        <strong>Última modificación:</strong> 
          <%= @feedback.updated_at.to_date %>
      </h4>
    </div>
    <div class="col-md-5 ">
      <h4>
        <strong>Puntuación:</strong> 
          <% (0..@feedback.points-1).each do |i| %>
            <img src="/images/dog-bone2.png" alt="">
          <% end %>
          (<%= @feedback.points%>)
      </h4>
    </div>
    <div class="col-md-5">
      <h4>
        <strong>Comentario:</strong>
      </h4>
    </div>
    <div class="col-md-5">
      <h4>
        <%= raw(@feedback.comment)%>
      </h4>
    </div>

  </div>
</div>

