<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-10">
		<h1>Modificar Banner</h1>
		<!-- form for ad -->
		<%= simple_form_for [:admin, @ad] do |f| %>
			<div class="row">
				<label class=" control-label col-md-10 text-left">Título</label>
				<div class="col-md-9 text-left" >
					<%= f.input :title, label: false,  placeholder: "Título de la publicidad", input_html: { class: 'form-control' } %>
				</div>
			</div>
			<br/>
			<div class="row">
				<label class=" control-label col-md-10 text-left ">Descripcion</label>
				<div class="col-md-9 text-left" >
				  <%= f.input :descripcion, as: :text, label: false,  placeholder: "Descripcion de la publicidad", :input_html => {class: 'form-control', :rows => 4} %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9 text-left" >
					<%= f.simple_fields_for :image do |image_form| %>	
					 	<%= image_form.input :picture,
                                 label: "Banner" %>
						<%= image_form.input :name,
								 label: "Link para el banner"%>						
          				<% end %> <!-- end anidado-->
				</div>	
			</div>
				<div class="row">
					<div class="col-md-10 text-center">
						<div class="actions">
							<%= f.button :submit, "Agregar", :class => 'btn btn-info', style: "text-shadow: none" %>								<%= link_to  admin_ads_path do %>
									<%= button_tag t('button.Regresar'), name: "Regresar", class:"btn btn-danger", value: true %>
               				 <%end%> <!-- end button-->
								
						</div>
					</div>
			</div>
		<!-- end form-->
		<% end %> <!-- end de simple_form_for -->
	</div>
	<div class="col-lg-2"></div>
</row>
