<div id="blue">
<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Pensión</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
               <div class="row">
          <div class="col-lg-12">
            <section class="panel">
            <header class="panel-heading">
               <div class="container-fluid">
                <div class="nav row" id="top_menu">
                   
               
                    <div class="col-md-2"><h4>Pensión</h4></div>
                    <div class="col-md-8">
                        <form class="navbar-form "> <!--BUSCADOR-->
                            <input class="form-control" placeholder="Search" type="text">
                            <i class="fa fa-search  orange"></i> 
                        </form>
                        
                    </div>
                    <div class="col-md-2">
                    </div>   
                </div>
                </div>
              </header>

            
              <table class="table table-striped table-advance table-hover">
                <tbody>
                
                <tr>
                    <th><i class="fa fa-photo orange"></i> Foto</th>
                    <th><i class="fa fa-user orange"></i> Nombre</th>
                    <th><i class="fa fa-file-text orange "></i> Descripción</th>
                    <th><i class="fa fa-file-text orange "></i> Status</th>
                </tr>
                 
                <% undefined = "No definido" %>
                <% @pensions.each do |pension| %>
                <tr>
                <td>
                <% unless pension.images.empty? %>
                 <center>
                   <ul class="list-inline">
                    <% unless pension.images.first == nil %>
                        <img  src="<%= pension.images.first.picture.url %>" width="110" height="110" style="border:1px solid #021a40;"></a>
                    <% else %>
                        <img  src="/images/ImageDefault.jpg" width="110" height="110"  style="border:1px solid #021a40;"></a>
                    <% end %>
                    
                   
             <%else %>
                    <img  src="/images/ImageDefault.jpg" width="110" height="110"  style="border:1px solid #021a40;"></a>
             <% end %>
             <!--end of thumbnails-->
             </ul>
             </center>
                </td>
                    <td><%= pension.nombre %></td>
                    <td><%= pension.description %></td>
                    <td><%= pension.status %></td>
               
                    <td>
                      <div>
                        <a class="btn btn-warning" href="<%= admin_pensionashow_path(pension) %>"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="<%= admin_pensionedit_path(pension)%>"><button class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a> 
                        <%= link_to '', admin_pensiondelete_path(pension), method: :delete, class:"fa fa-trash-o btn btn-danger", data: { confirm: "¿Esta seguro de que desea eliminar esta pensión?"}  %>  
                      </div>
                    </td>
                </tr>
              
                <% end %>
                </tbody>
              </table>
            </section>
          </div>
        </div>
    </div>
</div>
  
