<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) ? "#{yield(:title)} - Pabigo" : "Pabigo" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main style="padding-top: 80px;">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>
